Ejercicios Actidad 2 M2

1. Escribir un programa que pregunte al usuario por las ventas de un rango
de años y muestre por pantalla una serie con los datos de las ventas
indexada por los años, antes y después de aplicarles un descuento del
10%.



Ejercicios Actidad 2 M2

In [7]:
# creacion de la serie en base al ingreso de datos
import pandas as pd
ventas_del_periodo = 0
while True:
  # bucle principal mientras se ingresan datos
  try:
    print("Indique rango de años de las ventas")
    anio_inicio = int(input("ingrese año de inicio: ?"))
    anio_termino = int(input("ingrese año de término: ?"))
    if anio_inicio < anio_termino:
      ## crea una serie con el periodo ingresado pero con valores en cero
      ventas_del_periodo = pd.Series(data=0, index=range(anio_inicio,anio_termino+1),dtype='int32')
      for anio in ventas_del_periodo.index:
        while True:  
          try:
            ### solicita venta del año actual iteración
            venta = int(input("ingrese venta del año "+str(anio)+ " $ "))
            if venta <= 0:
              # vuelve a pedir 
              raise Exception("venta no válida")
            else:
              ventas_del_periodo[anio] = venta
          except Exception as e:
            print(e)
          ## termina el ingreso de la venta para año anio
          break
      # termina loop principal
      break
    else:
      raise Exception("periodo incorrecto")
  except Exception as e:
    print(e)

Indique rango de años de las ventas
ingrese año de inicio: ?2000
ingrese año de término: ?2005
ingrese venta del año 2000 $ 147500
ingrese venta del año 2001 $ 266006
ingrese venta del año 2002 $ 189500
ingrese venta del año 2003 $ 224005
ingrese venta del año 2004 $ 249500
ingrese venta del año 2005 $ 235050

In [8]:
# muestra ventas antes del descuento 10%
print(ventas_del_periodo)

2000    147500
2001    266006
2002    189500
2003    224005
2004    249500
2005    235050
dtype: int32

In [11]:
# muetra ventas despues de aplicado un descuento del 10%
print(ventas_del_periodo*0.9)

2000    132750.0
2001    239405.4
2002    170550.0
2003    201604.5
2004    224550.0
2005    211545.0
dtype: float64

2. Escribir una función que reciba un diccionario con las notas de los
alumnos en curso en un examen y devuelva una serie con la nota
mínima, la máxima, media y la desviación típica.

In [24]:
def estadisticaCurso(notas):
  if isinstance(notas, dict):
    import pandas as pd
    estadistica = pd.Series(data=notas)
    print("Resultado estadístico del examen del curso")
    print("nota mínima del curso fue un ", estadistica.min())
    print("nota máxima del curso fue un ", estadistica.max())
    print(f"el promedio del curso fue un {estadistica.mean():1.2}")
    print(f"la desviación típica fue {estadistica.std():1.2}")
  else:
    print("Error, se requiere un diccionario con las notas de los alumnos")


notas_del_curso = {"Alumno 1": 6.5, "Alumno 2": 6.0, "Alumno 3": 5.5,"Alumno 4": 4.5,"Alumno 5": 6.1,"Alumno 6": 5.7}
estadisticaCurso(notas_del_curso)

Resultado estadístico del examen del curso
nota mínima del curso fue un  4.5
nota máxima del curso fue un  6.5
el promedio del curso fue un 5.7
la desviación típica fue 0.69

3. Escribir una función que reciba una diccionario con las notas de los
alumnos en curso en un examen y devuelva una serie con las notas de
los alumnos aprobados ordenadas de mayor a menor.

In [35]:
def aprobados(notas):
  if isinstance(notas, dict):
    import pandas as pd
    resultado = pd.Series(data=notas)
    aprobados=resultado[resultado>4.0]
    print("Los alumnos que aprobaron")
    ## print(aprobados.sort_values())
    for alumno in aprobados.index:
      print(f"{alumno} nota obtenida {aprobados[alumno]}")
  else:
    print("Error, se requiere un diccionario con las notas de los alumnos")


notas_del_curso = {"Alumno 1": 6.5, "Alumno 2": 6.0, "Alumno 3": 5.5,"Alumno 4": 4.5,"Alumno 5": 6.1,"Alumno 6": 5.7}
aprobados(notas_del_curso)

Los alumnos que aprobaron
Alumno 1 nota obtenida 6.5
Alumno 2 nota obtenida 6.0
Alumno 3 nota obtenida 5.5
Alumno 4 nota obtenida 4.5
Alumno 5 nota obtenida 6.1
Alumno 6 nota obtenida 5.7

4. Escribir programa que genere y muestre por pantalla un DataFrame con
los datos de la tabla siguiente:
encabezados: meses, ventas, gastos, meses enero a marzo

In [3]:
import pandas as pd
tabla_df = pd.DataFrame([["Enero",30500,22000],["Febrero",35600,23400],
                      ["Marzo",28300,18100],["Abril",33900,20700]],
                     columns=(["Meses","Ventas","Gatos"]))
tabla_df

     Meses  Ventas  Gatos
0    Enero   30500  22000
1  Febrero   35600  23400
2    Marzo   28300  18100
3    Abril   33900  20700

In [38]:
# formato de dataframe sin mostrar indices
tabla_df = {'Meses':
         ['Enero','Febrero','Marzo','Abril'],
         'Ventas':
         [30500,35600,28300,33900],
         'Gastos':
         [22000,23400,18100,20700]
         }
index_labels=['']*4
df = pd.DataFrame(tabla_df,index=index_labels)
df

    Meses  Ventas  Gastos
    Enero   30500   22000
  Febrero   35600   23400
    Marzo   28300   18100
    Abril   33900   20700

In [34]:
count(tabla_df.values())

NameError: ignored