#Evaluación Modulo 2

Tips o listado de Preguntas Guía

- ¿Cuáles son los datos de entrada y de salida de mi algoritmo?

Datos de entrada es la información requerida para realizar una tarea que por lo general esta almacenada y que es ingresada manual o por medio de algún medio de comunicación. Generalmente, son los parámetros que requiere el algoritmo para funcionar, es parte del proceso que se conoce como ETL, donde para la creación y/o transformación, se requieren datos de entreda y otros generados en el proceso, se obtienen los datos de salida parciales o definitivos.
  
- ¿Qué variables debo declarar?

La declaración de variable tiene como finalidad reservar un espacio en memoria para almacenar el contenido que tendra. El proceso de declaración consta del nombre de la variable y su tipo pero, en el caso de Python, al ser un lenguaje de tipado dinámica, no se define el tipo de dato que almacenará, esto lo deduce el interprete del lenguaje.
Sea como sea el caso, toda variable debe ser declarada y apropiadamente documentada y una cosa distinta es su inicialización, donde las variables que van a servir de acumulador, donden ser inicializadas de lo contrario, se producirá un error en tiempo de ejecución.

- ¿Qué pasos deben ser considerados en el algoritmo?

Varía de un algoritmo a otro pero generalmente, todo algoritmo consta de estos pasos:

- Input - Solictud de información.
- Procesamiento - Validar y procesar la información.
- Output - Entrega de un resultado.

- ¿Cómo manipular datos perdidos?

Dependiendo del contexto y de la relevancía de los datos faltantes, se pueden aplicar diversas metodologías pero sin peder de vista la posibilidad de ocasionar un sesgo en la información. Estos manipulación va desde intentar volver a recopilar el dato faltante hasta crear el dato faltante o la eliminación del registro vinculado a este datos. En el caso de existir una relación de dependencia con el dato faltante entre distintos registros, para mantener la integridad de la información, no es recomendable o no es permitido eliminar registros vinculados entre si.

#Actividades:

Usted cuenta con 3 archivos csv con los siguientes nombres:
state-abbrevs.csv
state-area.csv
state-population.csv
Con estos archivos realice los siguientes ejercicios:
1. Cargue los tres datasets usando pandas.

In [41]:
import pandas as pd
# formateo de cifras float
pd.options.display.float_format = '{:.0f}'.format

state_abbrevs_df = pd.read_csv('/content/state-abbrevs.csv')
state_areas_df = pd.read_csv('/content/state-areas.csv')
state_population_df = pd.read_csv('/content/state-population.csv')

2. Revise los datos cargados y realice las modificaciones necesarias
para empezar a trabajar

In [42]:
# revisión de la información
state_population_df.head(5)

  state/region     ages  year  population
0           AL  under18  2012     1117489
1           AL    total  2012     4817528
2           AL  under18  2010     1130966
3           AL    total  2010     4785570
4           AL  under18  2011     1125763

In [43]:
# revisión de la información
# Este método además muestra la informacion de los valores non-null
state_population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state/region  2544 non-null   object
 1   ages          2544 non-null   object
 2   year          2544 non-null   int64
 3   population    2524 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 79.6+ KB

In [44]:
# se puede ver que el campo 'population' tiene menos elementos válidos que el total de
# registros del dataframe 
state_population_df.count()

state/region    2544
ages            2544
year            2544
population      2524
dtype: int64

In [45]:
# comprueba contabilización de registros con valor N/A por el campo en observación
mascara=state_population_df.population.isna()
len(state_population_df.loc[mascara, 'population'])

20

In [46]:
# segun la información entregada por el método count() y len() del objeto DataFrame, 
# el dataframe state_population_df contiene valores N/A en la columna "population"
# por lo que se eliminaran las filas que no contienen esta información ya que no es posible
# imputarla sin causar un sesgo en la información del dataframe
print(state_population_df.shape)
state_population_df.dropna(subset='population', how='all', inplace=True)
# se eliminaron los registros con valor N/A
print(state_population_df.shape)

(2544, 4)
(2524, 4)

In [47]:
# revisión de la información
state_abbrevs_df.head(5)

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [48]:
# revisión de la información
# Este método además muestra la informacion de los valores non-null
state_abbrevs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         51 non-null     object
 1   abbreviation  51 non-null     object
dtypes: object(2)
memory usage: 944.0+ bytes

In [49]:
# revisión de la información
state_abbrevs_df.count()

state           51
abbreviation    51
dtype: int64

In [50]:
# revisión de la información
state_areas_df.head(5)

        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707

In [51]:
# revisión de la información
# Este método además muestra la informacion de los valores non-null
state_areas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          52 non-null     object
 1   area (sq. mi)  52 non-null     int64
dtypes: int64(1), object(1)
memory usage: 960.0+ bytes

In [52]:
# revisión de la información
state_areas_df.count()

state            52
area (sq. mi)    52
dtype: int64


3. Elimine las columnas que no aportan información

In [53]:
# de acuerdo a las conslutas de la actividad, parece que el año no aporta información respecto a
# los resultados esperados por lo que se borrará dicha columna, esta columna no esta siendo consultada
# en las actividades posteriores por lo que se modifca el detaframe orifinal dataframe 
# elimiando la columan year para procesar la información restante
state_population_df.pop('year')

0       2012
1       2012
2       2010
3       2010
4       2011
        ...
2539    2010
2540    2011
2541    2011
2542    2012
2543    2012
Name: year, Length: 2524, dtype: int64


4. Agrupe por state/region y ages, para luego agregar usando
promedio, mínimo, máximo y contar

In [54]:
# agrupar y agregar funciones promedio, minimo, maximo y contar
import numpy as np

state_population_df.groupby(['state/region','ages']).aggregate([np.mean, np.min, np.max, np.count_nonzero]).head(5)

                     population
                           mean    amin    amax count_nonzero
state/region ages
AK           total       646205  553290  735132            24
             under18     186673  177502  192636            24
AL           total      4484528 4050055 4833722            24
             under18    1111197 1050041 1134927            24
AR           total      2693178 2356586 2959373            24


5. Forme un nuevo dataset llamado df que tenga la información de los
3 sets importados. Use las llaves necesarias.

In [55]:
# renombra columna state/region por state para realiazar merge
state_population_df.rename(columns={'state/region':'abbreviation'}, inplace=True)
# une los 3 dataframe por la key que relacionan con abbreviaton en primer lugas y luego con state
df = state_population_df.merge(state_abbrevs_df,on='abbreviation').merge(state_areas_df,on='state')
# restable nombre columna state/region porque se utiliza en próximas actividades
df.rename(columns={'abbreviation':'state/region'}, inplace=True)

In [56]:
# visualización del datagrama que resultarà aplicando los cambios
# no se señala cambiar el indice por lo que queda por defecto un indice numérico
df.head(5)

  state/region     ages  population    state  area (sq. mi)
0           AL  under18     1117489  Alabama          52423
1           AL    total     4817528  Alabama          52423
2           AL  under18     1130966  Alabama          52423
3           AL    total     4785570  Alabama          52423
4           AL  under18     1125763  Alabama          52423


6. Calcule la población por área para cada estado. Para esto agrupe por
state/region y calcule el promedio de la población. Guarde dicha
información en un data frame con las columnas 'state' y 'pop/area' (hint: puede extraer los valores de un objeto groupby, finalizando su
sentencia con .values, o extraer sus etiquetas con .index)

In [57]:
# previsualización resultado esperadp sobre el calculo por area para cada estado agrupado por state/region
df.groupby(['state/region']).aggregate([np.mean]).head(5)

<ipython-input-57-01e6f2d9efac>:2: FutureWarning: ['ages', 'state'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby(['state/region']).aggregate([np.mean]).head(5)

             population area (sq. mi)
                   mean          mean
state/region
AK               416439        656425
AL              2797862         52423
AR              1686640         53182
AZ              3337577        114006
CA             21709079        163707

In [58]:
# crear un arreglo con los cálculos para luego almacenar en un dataframe
array_calculo_promedio_poblacion_values = df.groupby(['state/region']).aggregate([np.mean]).values

<ipython-input-58-bd11f8645b08>:2: FutureWarning: ['ages', 'state'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  array_calculo_promedio_poblacion_values = df.groupby(['state/region']).aggregate([np.mean]).values

In [59]:
# extrae y almacena los indices del dataframe agrupado  
columna_etiquetas = df.groupby(['state/region']).aggregate([np.mean]).index
# transpone arreglo para conformar columnas del dataframe
columna_pop_area  = array_calculo_promedio_poblacion_values.transpose()[1]

<ipython-input-59-f0702e9fd145>:2: FutureWarning: ['ages', 'state'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  columna_etiquetas = df.groupby(['state/region']).aggregate([np.mean]).index

In [60]:
# crea diccionario con los datos
datos = {
    'state' : columna_etiquetas,
    'pop/area' : columna_pop_area
}

In [61]:
# creacion de dataframe columnas state y pop/area 
# no se señala cambiar el indice por lo que queda por defecto un indice numérico
calculo_promedio_poblacion_area_df = pd.DataFrame(datos)
calculo_promedio_poblacion_area_df.head(5)

  state  pop/area
0    AK    656425
1    AL     52423
2    AR     53182
3    AZ    114006
4    CA    163707


7. Finalmente, cree un dataframe que posea: El estado, el área, la
población, la población por área y como índice la abreviación del
nombre del estado.

In [62]:
# previsualización de los resultados esperados
df.groupby(['state/region','state']).aggregate([np.sum,np.mean]).head(5)

<ipython-input-62-3ede574dd3da>:2: FutureWarning: ['ages'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby(['state/region','state']).aggregate([np.sum,np.mean]).head(5)

                        population          area (sq. mi)
                               sum     mean           sum   mean
state/region state
AK           Alaska       19989067   416439      31508400 656425
AL           Alabama     134297398  2797862       2516304  52423
AR           Arkansas     80958721  1686640       2552736  53182
AZ           Arizona     160203703  3337577       5472288 114006
CA           California 1042035780 21709079       7857936 163707

In [63]:
df.groupby(['state/region','state']).aggregate([np.sum,np.mean]).index[:10]

<ipython-input-63-f323e421af47>:1: FutureWarning: ['ages'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby(['state/region','state']).aggregate([np.sum,np.mean]).index[:10]

MultiIndex([('AK',               'Alaska'),
            ('AL',              'Alabama'),
            ('AR',             'Arkansas'),
            ('AZ',              'Arizona'),
            ('CA',           'California'),
            ('CO',             'Colorado'),
            ('CT',          'Connecticut'),
            ('DC', 'District of Columbia'),
            ('DE',             'Delaware'),
            ('FL',              'Florida')],
           names=['state/region', 'state'])

In [64]:
# crear un arreglo con los cálculos para luego almacenar en un dataframe
arreglo_calculo_sum_poblacion_area_values = df.groupby(['state/region','state']).aggregate([np.sum,np.mean]).values
# extrae y almacena los indices del dataframe agrupado 
columna_etiquetas_sum = df.groupby(['state/region','state']).aggregate([np.sum,np.mean]).index

<ipython-input-64-9e10339f1a14>:2: FutureWarning: ['ages'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  arreglo_calculo_sum_poblacion_area_values = df.groupby(['state/region','state']).aggregate([np.sum,np.mean]).values
<ipython-input-64-9e10339f1a14>:4: FutureWarning: ['ages'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  columna_etiquetas_sum = df.groupby(['state/region','state']).aggregate([np.sum,np.mean]).index

In [65]:
etiqueta_abreviacion=np.array(list(columna_etiquetas_sum)).transpose()[0]
etiqueta_abreviacion

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype='<U20')

In [66]:
columna_state  = np.array(list(columna_etiquetas_sum)).transpose()[1]
columna_state

array(['Alaska', 'Alabama', 'Arkansas', 'Arizona', 'California',
       'Colorado', 'Connecticut', 'District of Columbia', 'Delaware',
       'Florida', 'Georgia', 'Hawaii', 'Iowa', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Massachusetts',
       'Maryland', 'Maine', 'Michigan', 'Minnesota', 'Missouri',
       'Mississippi', 'Montana', 'North Carolina', 'North Dakota',
       'Nebraska', 'New Hampshire', 'New Jersey', 'New Mexico', 'Nevada',
       'New York', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'Vermont', 'Washington', 'Wisconsin',
       'West Virginia', 'Wyoming'], dtype='<U20')

In [67]:
# transpone arreglo para conformar columnas del dataframe
columna_area = arreglo_calculo_sum_poblacion_area_values.transpose()[3]
columna_population = arreglo_calculo_sum_poblacion_area_values.transpose()[0]
columna_sum_pop = arreglo_calculo_sum_poblacion_area_values.transpose()[2]
# crea diccionario con los datos
datos = {
    'state' : columna_state,
    'area' : columna_area,
    'population' : columna_population,
    'pop/area' : columna_sum_pop
}
# creacion de dataframe columnas state y pop/area, no se solicita indices especiales
calculo_promedio_poblacion_area_df = pd.DataFrame(datos, index=[etiqueta_abreviacion])

In [68]:
# resultado
# creacion de dataframe con las columnas e indices solicitados
calculo_promedio_poblacion_area_df.head(5)

         state   area  population  pop/area
AK      Alaska 656425    19989067  31508400
AL     Alabama  52423   134297398   2516304
AR    Arkansas  53182    80958721   2552736
AZ     Arizona 114006   160203703   5472288
CA  California 163707  1042035780   7857936